:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-title-color: #212121;
  --acent-color: #2196f3;
  --secondary-acent-color: #188ce8;
  --secondary-bg-color: #f5f4fa;
  --border-color-one: #ececec;
  --border-color-two: #eeeeee;
  --icon-color: #afb1b8;
  --black-color: #000000;
  --line-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a,
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Хедер */
.header {
  border-bottom: 1px solid var(--border-color-one);
}
.header-flex {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  margin-left: 93px;
}
.logo {
  color: var(--acent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-black {
  color: var(--black-color);
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-list-communication {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.link {
  display: flex;
  align-items: center;
  color: var(--primary-title-color);
  line-height: 1.14;
  font-weight: 500;
  padding: 32px 0;
  transition: color 250ms var(--line-function);
}
.link:hover,
.link:focus {
  color: var(--acent-color);
}
.icon-link {
  margin-right: 10px;
  fill: currentColor;
}
.active_page {
  position: relative;
  color: var(--acent-color);
}
.active_page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
  content: '';
}
.link-contact {
  color: var(--primary-text-color);
}
/* Студія */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding: 10px 32px;
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color 250ms var(--line-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-acent-color);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--line-function),
    visibility 250ms var(--line-function), scale 250ms var(--line-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 1 orangered solid;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 30px;
  height: 30px;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-close-icon {
  color: var(--black-color);
  fill: currentColor;
  width: 18px;
  height: 18px;
  transition: color 250ms var(--line-function);
}
.modal-close:hover .modal-close-icon {
  color: var(--acent-color);
}
.modal-form {
  padding: 40px;
  display: block;
  font-size: 16px;
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
}
.modal-form-lable {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  text-align: left;
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: var(--primary-title-color);
}
.modal-form-input,
.modal-form-text {
  padding: 11px 12px;
  width: 448px;
  height: 40px;
  font-size: 16px;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms var(--line-function),
    border-color 250ms var(--line-function), fill 250ms var(--line-function);
}
.modal-form-input::placeholder {
  padding-left: 30px;
}
.modal-form-text {
  height: 120px;
  resize: none;
}
.modal-form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-input:focus,
.modal-form-text:focus,
.modal-form-input:focus + .modal-form-icon {
  outline: var(--acent-color);
  border-color: var(--acent-color);
  fill: var(--acent-color);
}
.modal-form-input:focus,
.modal-form-input:not(:placeholder-shown) {
  padding-left: 42px;
}
.modal-form-text:focus,
.modal-form-text:not(:placeholder-shown) {
  padding: 12px 16px;
}
.modal-form-checkbox {
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border 250ms var(--line-function),
    background-color 250ms var(--line-function), fill 250ms var(--line-function);
}
.checkbox-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-423px, 4px);
  fill: transparent;
  border: 2px solid var(--primary-title-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkbox:checked ~ .checkbox-icon {
  border: 2px solid transparent;
  background-color: var(--acent-color);
  fill: var(--acent-color);
}
.modal-form-link {
  display: inline-block;
  text-decoration: underline;
  color: var(--acent-color);
}
/* Serction */
.advantages,
.team,
.clients {
  padding: 94px 0;
}
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-list-item {
  flex-basis: 270px;
}
.icon-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.advantages-list .title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-list .subtitle {
  line-height: 1.71;
}
.team {
  background-color: var(--secondary-bg-color);
}
.about .title,
.team .title,
.clients .title {
  margin-bottom: 50px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  margin: 0;
  gap: 30px;
}
.about-item {
  position: relative;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.team .team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  min-height: 368px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--secondary-text-color);
}
.team-info {
  padding: 30px 0;
}
.team-list .team-list-title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
}
.team-list-icon {
  display: inline-flex;
  gap: 10px;
}
.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--secondary-text-color);
  transition: color 250ms var(--line-function),
    background-color 250ms var(--line-function);
}
.team-link:hover,
.team-link:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
}
.team-link-icon {
  fill: currentColor;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms var(--line-function),
    border 250ms var(--line-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--acent-color);
  border: 1px solid var(--acent-color);
}
.clients-icon {
  fill: currentColor;
}
/* Портфоліо */
.section {
  padding: 94px 0;
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.btn {
  padding: 6px 25px;
  color: var(--primary-title-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms var(--line-function),
    background-color 250ms var(--line-function),
    box-shadow 250ms var(--line-function);
}
.btn:active,
.btn:hover,
.btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 370px;
  gap: 30px;
}
.portfolio-link {
  transition: box-shadow 250ms var(--line-function);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-hidden {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--acent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms var(--line-function),
    transform 250ms var(--line-function);
}
.portfolio-link:hover .portfolio-hidden {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-hidden-text {
  padding: 0 24px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.56;
}
.portfolio-list-info {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-two);
  border-bottom: 1px solid var(--border-color-two);
  border-right: 1px solid var(--border-color-two);
}
.portfolio-list .title {
  margin-bottom: 4px;
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .subtitle {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
/* Футер */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-white,
.link-footer.footer-white {
  color: var(--secondary-text-color);
}

.logo .footer-white {
  display: inline-block;
  margin-bottom: 20px;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms var(--line-function);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--secondary-text-color);
}
.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 92px;
}
.footer-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer-list-icon {
  display: flex;
  column-gap: 10px;
}
.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--line-function);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--acent-color);
}
.footer-link-icon {
  fill: currentColor;
}
.subscribe-input {
  padding-left: 15px;
  margin-right: 11px;
  color: #fff;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  gap: 10px;
}
