.team {
  padding: 94px 0;
  background-color: $secondary-bg-color;
}
.team__title {
  margin-bottom: 50px;
  color: $primary-title-color;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  min-height: 368px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: $secondary-text-color;
}
.team__info {
  padding: 30px 0;
}
.team__info--title {
  margin-bottom: 10px;
  color: $primary-title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__info--subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
}
.team__icon {
  display: inline-flex;
  gap: 10px;
}
.team__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-color;
  background-color: $secondary-text-color;
  transition: color 250ms $line-function, background-color 250ms $line-function;
}
.team__link:hover,
.team__link:focus {
  color: $secondary-text-color;
  background-color: $acent-color;
}
.team__icon--svg {
  fill: currentColor;
}
